@model Proje.Models.CompanyViewModel

@{
    ViewData["Title"] = "Add Company";
    var errormessage = TempData["Error Message"]?.ToString();

}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(errormessage))
{
<div class="alert alert-danger">
    <strong>Error!</strong>@errormessage
</div>
<button type="button" class="btn-close float-end" data-bs-dismiss="alert">  </button>
}
<form action="Add" method="post" autocomplete="off">
    <div class="mb-3">
        <label class="form-label">Company Name </label>
        <input type="text" class="form-control" asp-for="CompanyName" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Company Staus</label>
        <input type="text" class="form-control" asp-for="CompanyStatus" />
        <span asp-validation-for="CompanyStatus" class="text-danger"></span>
    </div>


    <div class="mb-3">
        <label class="form-label">Sector </label>
        <input type="number" class="form-control" asp-for="SectorID" />
        <span asp-validation-for="SectorID" class="text-danger"></span>
    </div>

      
    <div class="mb-3">
        <label class="form-label">Integrator </label>
        <input type="number" class="form-control" asp-for="EntegrationID" />
        <span asp-validation-for="EntegrationID" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Contract Start Date </label>
        <input type="date" class="form-control" asp-for="Contract_Start" />
        <span asp-validation-for="Contract_Start" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Contract End Date </label>
        <input type="date" class="form-control" asp-for="Contract_End" />
        <span asp-validation-for="Contract_End" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Authorized </label>
        <input type="text" class="form-control" asp-for="Authorized" />
        <span asp-validation-for="Authorized" class="text-danger"></span>
    </div>


    <div class="d-grid">
        <button type="submit" class="btn-btn-primary">Submit</button>
        
    </div>


</form>
 @section Scripts{
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
 }
